<div class="col-md-6 margin-top-xs">
  <ul class='list-unstyled'>
    <li><strong>Street Address:</strong> {{model.streetAddress1}}</li>
    <li><strong>City:</strong> {{model.city}}</li>
    <li><strong>State:</strong> {{model.state}}</li>
    <li><strong>Zip:</strong> {{model.zipCode}}</li>
    <li><strong>Favorite Color:</strong> {{model.color}}</li>
    <li><strong>Known for saying:</strong> {{model.catchPhrase}}</li>
  </ul>
</div>
