{{title}}

<p>SORT:</p>
<ul>
  <li><a {{action 'sort' 'firstName:asc'}}> Alphabetically ASC</a></li>
  <li><a {{action 'sort' 'firstName:desc'}}> Alphabetically DESC</a></li>
  <li><a {{action 'removeAll' modelName}}>Remove</a></li>
</ul>

<p>Generate</p>
<ul>
  <li><a {{action 'generate' 5}}>5 Items</a></li>
  <li><a {{action 'generate' 10}}>10 Items</a></li>
  <li><a {{action 'generate' 50}}>50 Items</a></li>
</ul>

<p>Custom Inputs: {{input value=firstName placeholder='First Name'}}
{{input value=lastName placeholder='Last Name'}}
<button {{action 'saveNewItem'}}>Save</button></p>


<div>
  {{#each list as |item| }}
    <p>{{item.firstName}} {{item.lastName}} <a {{action 'removeUser' item}}>Remove</a></p>
  {{/each}}
</div>
