<div class="row">
    <div class='col-md-12'>
      {{#if false}}
        <p><strong>Custom Item:</strong> {{input value=firstName placeholder='First Name'}}
          {{input value=lastName placeholder='Last Name'}}
          <button {{action 'saveNewItem'}} class='btn btn-success'>Save</button></p>
      {{/if}}

      {{#if list}}
        {{liquid-outlet}}
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              {{#each list as |item|}}
                <div class="col-md-4">
                  {{#link-to 'list.item' item}}
                    <div class="padding-sm border--radius border--all margin-bottom-sm">
                        <img src={{item.avatar}} alt={{item.fullName}} class="full-width profile--image" />
                      <p class="margin-top-xxs margin-bottom-0">Name: {{item.fullName}}</p>
                      <p>Age: {{item.age}}</p>
                    </div>
                  {{/link-to}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="text-center">
          <img src="/wolf_pack.gif" alt="No friends" />
        </div>
      {{/if}}
    </div>
</div>
