{{title}}

SORT:
<ul>
  <li><a {{action 'sort' 'asc'}}> Alphabetically ASC</a></li>
  <li><a {{action 'sort' 'desc'}}> Alphabetically DESC</a></li>
  <li><a {{action 'removeUsers'}}>Remove</a></li>
</ul>

<p>{{input value=firstName placeholder='First Name'}}
{{input value=lastName placeholder='Last Name'}}
<button {{action 'saveNewItem'}}>Save</button></p>


<div>
  {{#each list as |item| }}
    <p>{{item.firstName}} {{item.lastName}} <a {{action 'removeUser' item}}>Remove</a></p>
  {{/each}}
</div>
