{{#if isShown}}
  <div class="padding-sm">
    <p {{action 'toggleNav'}}>
      <img src='/arrow-alt-left.png'
           height='30'
           width='30'/>HIDE NAV</p>

    <div class='text-center'>
      <div class="row">
        <div class="col-md-12">
          <p><strong>Find:</strong> {{input value=search placeholder='Search'}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><strong>Sort:</strong></p>
          <ul class='list-unstyled'>
            <li><a {{action 'sort' 'firstName:asc'}} class='btn btn-default'> A - Z</a>
                <a {{action 'sort' 'firstName:desc'}} class='btn btn-default'> Z - A</a></li>
            <li><a {{action 'sort' 'age:asc'}} class='btn btn-default margin-top-xs'> Young -> Old</a>
                <a {{action 'sort' 'age:desc'}} class='btn btn-default margin-top-xs'> Old -> Young</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><strong>Generate Friends:</strong></p>
          {{button-param text='5' action='generate' param=5 classNames='btn-default padding-left-xs padding-right-xs'}}
          {{button-param text='10' action='generate' param=10 classNames='btn-default padding-left-xs padding-right-xs'}}
          {{button-param text='25' action='generate' param=25 classNames='btn-default padding-left-xs padding-right-xs'}}
        </div>
      </div>
      <div class="row margin-top-md">
        <a {{action 'clearList' modelName}} class='btn btn-danger margin-bottom-xs'>Unfriend All</a>
      </div>
    </div>
  </div>
{{else}}
  <div class="text-center margin-top-sm">
    <img src='/hamburger_icon.png'
         height='50'
         width='50'
         {{action 'toggleNav'}} />
  </div>
{{/if}}
