<div class="navigation border--bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="padding-right-sm border--right display--inline-block vertical-align--top">
          <h1 class="margin-0 h3 uppercase">Photo Wall</h1>
        </div>
        <div class="display--inline-block vertical-align--webkit-middle margin-left-xxs margin-right-sm">
          {{search-component class="display--inline-block full-width"}}
        </div>
      </div>
      <div class="col-md-6 text-right">
        <a href="#" {{action 'toggleGenerate'}}>Help! I need more friends!</a>
        <div class="padding-top-xxs padding-bottom-xxs padding-left-xs padding-right-xs border--all display--inline-block margin-left-md">
          <select name="sort" id="sort-wall" class="invisible-select" onchange={{action 'sort' value="target.value"}}>
            <option value="firstName:asc">Sort By Name Ascending </option>
            <option value="firstName:desc">Sort By Name Decending </option>
            <option value="age:asc">Youngest to Oldest </option>
            <option value="age:desc">Oldest to Youngest </option>
          </select>
          <i class="fa fa-sort-desc color-blue vertical-align--text-top" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{{#liquid-if showGenerate}}
  <div class="background--gray border--bottom">
    <div class="container">
      <div class="row padding-xxs">
        <div class="col-md-12 text-right">
          <p class="margin-0 display--inline-block">How many friends to generate?</p>
          <div class="btn btn-green display--inline-block margin-left-xs" {{action 'generate' 1}}>1</div>
          <div class="btn btn-green display--inline-block margin-left-xs" {{action 'generate' 5}}>5</div>
          <div class="btn btn-green display--inline-block margin-left-xs" {{action 'generate' 10}}>10</div>
          <div class="btn btn-green display--inline-block margin-left-xs" {{action 'generate' 25}}>25</div>
        </div>
      </div>
    </div>
  </div>
{{/liquid-if}}
